@primary-deep: #075985; @primary-strong: #397A9D; @primary-base: #83ACC2; @primary-soft: #A6C3D3; @primary-pale: #C8DAE4; @primary-mist: #E6EEF3;
@secondary-deep: #155E75; @secondary-strong: #447E91; @secondary-base: #8AAFBA; @secondary-soft: #ABC5CD; @secondary-pale: #CCDCE1; @secondary-mist: #E8EFF1;
@tertiary-deep: #0E7490; @tertiary-strong: #3E90A6; @tertiary-base: #87BAC8; @tertiary-soft: #A8CDD7; @tertiary-pale: #CAE0E7; @tertiary-mist: #E7F1F4;
@warning-deep: #D98C00; @warning-strong: #E1A333; @warning-base: #ECC680; @warning-soft: #F1D6A3; @warning-pale: #F7E6C7; @warning-mist: #FBF3E5;
@success-deep: #059669; @success-strong: #37AB87; @success-base: #82CBB4; @success-soft: #A5D9C9; @success-pale: #C8E8DE; @success-mist: #E6F5F0;
@danger-deep: #BE123C; @danger-strong: #CB4163; @danger-base: #DF899E; @danger-soft: #E8AAB9; @danger-pale: #F1CBD4; @danger-mist: #F9E7EB;

@neutral-deep: #334A5E; @neutral-strong: #5C6E7E; @neutral-base: #99A4AF; @neutral-soft: #B6BEC5; @neutral-pale: #D2D7DC; @neutral-mist: #EBEDEF; @neutral-white: #FFFFFF;
